body {
    background-color: #5b5c5b;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    /* background-image: url("bab.jpg"); */ 
    height: 400px;;
    lighting-color: lavender;
  }

  img{

    opacity: 0.1;
  }


