.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
  }


  .h1 {
    color: rgb(5, 5, 5);
    padding: 10px;
    font-family: cursive;
    text-align: center;
    font-size: 100px;
    background-color: lightsteelblue;
  }

  .h2 {
    color: lightyellow;
    padding: 10px;
    font-family: fantasy;
    text-align: left;
    font-size: 40px;
    background-color: midnightblue;
  }

  .tbl {    
    color: rgba(185, 160, 160, 0.568);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 20px;
  }


